<!DOCTYPE html>
<html>
  <head>
    <title>course</title>
  </head>
  <script>
         window.onload = function(){      
            document.write('<table border="1"><tr><th>course_name</th><th>teacher</th></tr><% for(var i=0;i<data.length;i++){ %> <tr><td><%= data[i].c_name %></td><td><%= data[i].teacher %></td></tr><% } %></table>')
            
        }      
      </script>
  <body> 
        
  </body>
</html>



  