<!DOCTYPE html>
<html>

<head>
  <title>course</title>
</head>
<script>
  function check(){
    var cObj=document.getElementsByName('name');
    for(var i=0;i<cObj.length;i++){
      if(cObj[i].checked){
        return true; 
      }
    }
    alert ('請勾選至少一項');
    return false;
  }  
</script>

<body>
  <table border="1">
    <tr>
      <td colspan="3">課程列表</td>
    </tr>
    <tr>
      <td>課程名稱</td>
      <td colspan="2">指導老師</td>
    </tr>

    <form name="form1" action="/sub_drop" method='post' onsubmit="return check()">
    <% for(var i=0;i<data.length;i++){ %>
    <tr>
      <td><%= data[i].c_name %></td>
      <td><%= data[i].teacher %><input type="checkbox" name="name" value= '<%= data[i].c_name %>' /></td>
    </tr>
    <% } %>
    <input type='submit' value='Submit'>
    </form>

  </table>
</body>

</html>