<!DOCTYPE html>
<html>
  <head>
    <title>main page</title>
    
  </head>
  <body>
      <div class="boxLogin">
               <form action="" method="POST" id="loginform">
                 <div class="fields">
                   <p class="sep">
                     <label class="small" for="id">管理者帳號</label>
                     <input name="id" type="text" id="id" required />
                  </p>
                  <p class="sep">
                     <label class="small" for="password">管理者密碼</label>
                    <input name="password" type="password" id="password" required />
                  </p>
                 <div class="action">
                    <input type="submit" class="butDef" onclick="javascript:location.href='localhost:3000/'"  value="登入系統" />
                    <input name="button1" type="button" value="退回首頁" onclick="" />
                  </div>
                  <span style="color:red"></span>
               </div>
               </form>
             </div>
  </body>
</html>



  