<!DOCTYPE html>
<html>
  <head>
    <title>選取的課程</title>
  </head>
  <script></script>
  <body> 
      <table border="1">
          <tr>
            <% for(var i=0;i<name.length;i++){ %>
                    <tr><td><%= name[i] %></td></tr>
                <% } %>
            </tr>
      </table>
    

  </body>
</html>