<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>YEE</title>
    <style>
        a:link{
            color: #ffffff ;
        }
        a:visited{
            color: #ffffff;
        }
        a:hover{
            color: #ff0000;
        }
        *{
            margin:0px ;
            padding:0px;
        }
        #menu{
            margin: auto;
        }
        .main{
            
            color:black;
            font-family:微軟正黑體;
            font-weight:bold;
            font-size:20px;
            
            text-align:center;
            height:35px;
            line-height:35px;
            width:100px;
        }
        
        .sub{
            cursor:pointer;
            background-color:#4d4949;
            color:white;
            font-family:微軟正黑體;
            text-align:center;
            font-weight:bold;
            width:100px;
        }
        .sub li{
            list-style-type:none;
            line-height:25px;
        }
        .item{
            float:left;
        }
    </style>
    
     
</head>
<body>
<div id="menu">

    <div class="item">
    <div class="main">課程</div>
    <div class="sub">
        <ul>
            <li><a href="add">加選</a></li>
            <li><a href="drop">退選</a></li>
            <li><a href="mycourse">我的課表</a></li>
            <li><a href="search">課程查詢</a></li>
        </ul>
    </div>
    </div>
    
    <div class="item">
        <div class="main"></div>
        <div class="sub">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        </div>

    
</div>